@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;

}

.btn.btn-custom {
  padding: 10px 30px 12px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #E81C2E;
  border: none;
  border-radius: 60px;
  box-shadow: inset 0 0 0 0 #202C45;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btn.btn-custom:hover {
  color: #E81C2E;
  background: #202C45;
  box-shadow: inset 200px 0 0 0 #202C45;
}